* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
}

.section {
    padding-left: 250px;
    padding-right: 250px;
}






/* ************************************************************  */
/*                           HEADER                              */

.header {
    background-color: #1f2937;
    color: white;

    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
}

ul {
    list-style: none;

    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
}





/* ************************************************************  */
/*                           HERO                                */

.hero {
    background-color: #1f2937;
    color: white;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 50px;
}

.hero-img {
    height: 200px;
    width: 550px;
}

.hero-text {
    display: flex;
    flex-direction: column;
}

.hero-btn {
    width: 125px;
}







/* ************************************************************  */
/*                          SERVICES                             */

.services {
    background-color: white;

    padding-top: 50px;
    padding-bottom: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.service-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.service-img {
    width: 150px;
    height: 150px;
}






/* ************************************************************  */
/*                        QUOTE SECTION                          */

.quote-section {
    background-color: #e5e7eb;
}








/* ************************************************************  */
/*                      CALL TO ACTION                           */

.call-to-action {
    background-color: white;
}

.cta-container {
    background-color: #3b82f6;
    color: white;
}








/* ************************************************************  */
/*                           FOOTER                              */

.footer {
    background-color: #1f2937;
    color: white;
}