@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,500;9..144,600;9..144,700&family=Montserrat:wght@200;300;400&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', Helvetica, sans-serif;
}

.section {
    padding-left: 230px;
    padding-right: 230px;
}

:root {
    --bg-color-darkblue: #1f2937;
    --bg-color-lightgray2: #e5e7eb;
    --bg-color-bluecta: #3b82f6;

    --bg-color-eggplant: #553E4E;
    --bg-color-yellow: #e7c560;
    --bg-color-white: #ffffff;
    --bg-color-lightgray: #e8ebee;
}




/* ************************************************************  */
/*                           HEADER                              */

.header {
    background-color: var(--bg-color-eggplant);
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
}

ul {
    list-style: none;

    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;

    font-size: 18px;
}







/* ************************************************************  */
/*                           HERO                                */

.hero {
    background-color: var(--bg-color-eggplant);
    color: white;
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 75px;
}

.title {
    font-size: 48px;
    font-weight: 900;
}

.hero-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 18px;
    font-weight: 100;
}

.hero-img {
    height: 200px;
    width: 450px;
}

.hero-btn {
    width: 100px;
    height: 30px;
    margin-top: 10px;
    background-color: var(--bg-color-yellow);
    border: none;
    color: var(--bg-color-eggplant);
    font-weight: 900;
    border-radius: 6px;

    transition: 0.3s;
}

.hero-btn:hover {
    background-color: var(--bg-color-eggplant);
    border: 1px solid var(--bg-color-yellow);
    color: var(--bg-color-yellow);
    cursor: pointer;
}







/* ************************************************************  */
/*                          SERVICES                             */

.services {
    background-color: white;

    padding-top: 50px;
    padding-bottom: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.service-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.service-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.service-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.service-img {
    width: 150px;
    height: 150px;
    border: 3px solid var(--bg-color-yellow);
    border-radius: 10px;
    background-color: white;
    object-fit: cover;
}

.service-text {
    width: 165px;
    text-align: center;
    color: #1F2937;
    font-size: 18px;
    font-weight: 100;

}





/* ************************************************************  */
/*                        QUOTE SECTION                          */

.quote-section {
    background-color: var(--bg-color-lightgray);

    padding-top: 150px;
    padding-bottom: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.quote-container {
    width: 800px;
}

blockquote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
    width: 800px;
}

.attribute {
    text-align: right;
    color: #1F2937;
}




/* ************************************************************  */
/*                      CALL TO ACTION                           */

.call-to-action {
    background-color: white;
}

.cta-container {
    background-color: var(--bg-color-yellow);
    color: var(--bg-color-eggplant);

    margin-top: 100px;
    margin-bottom: 100px;

    padding: 40px 75px 40px 75px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 15px;
}

.cta-btn {
    width: 100px;
    height: 30px;

    color: var(--bg-color-eggplant);
    background-color: var(--bg-color-yellow);
    border: 2px solid var(--bg-color-eggplant);
    border-radius: 6px;

    font-weight: 700;

    transition: 0.3s
}

.cta-btn:hover {
    background-color: var(--bg-color-eggplant);
    color: var(--bg-color-yellow);

    cursor: pointer;
}





/* ************************************************************  */
/*                           FOOTER                              */

.footer {
    background-color: var(--bg-color-eggplant);
    color: white;

    padding-top: 35px;
    padding-bottom: 35px;

    text-align: center;
}